<div class="card col s4 left card-radius">
  <p> <%= image_tag @user.profile_image_url, class: "card-radius" %> </p>
  <h5><%= @user.name %> </h5>
  <p> @<%= @user.handle %> </p>
  <p>Tweets Following Followers</p>
  <p><%= @user.tweets_count %> <%= @user.friends_count %> <%= @user.followers_count %></p>
</div>
